@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@heroui/styles';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.153 0.006 107.1);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.153 0.006 107.1);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.153 0.006 107.1);
  --primary: oklch(0.228 0.013 107.4);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.966 0.005 106.5);
  --secondary-foreground: oklch(0.228 0.013 107.4);
  --muted: oklch(0.966 0.005 106.5);
  --muted-foreground: oklch(0.58 0.031 107.3);
  --accent: oklch(0.966 0.005 106.5);
  --accent-foreground: oklch(0.228 0.013 107.4);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.93 0.007 106.5);
  --input: oklch(0.93 0.007 106.5);
  --ring: oklch(0.737 0.021 106.9);
  --chart-1: oklch(0.88 0.011 106.6);
  --chart-2: oklch(0.58 0.031 107.3);
  --chart-3: oklch(0.466 0.025 107.3);
  --chart-4: oklch(0.394 0.023 107.4);
  --chart-5: oklch(0.286 0.016 107.4);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.153 0.006 107.1);
  --sidebar-primary: oklch(0.228 0.013 107.4);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.966 0.005 106.5);
  --sidebar-accent-foreground: oklch(0.228 0.013 107.4);
  --sidebar-border: oklch(0.93 0.007 106.5);
  --sidebar-ring: oklch(0.737 0.021 106.9);
}

.dark {
  --background: oklch(0.153 0.006 107.1);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.228 0.013 107.4);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.228 0.013 107.4);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.93 0.007 106.5);
  --primary-foreground: oklch(0.228 0.013 107.4);
  --secondary: oklch(0.286 0.016 107.4);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.286 0.016 107.4);
  --muted-foreground: oklch(0.737 0.021 106.9);
  --accent: oklch(0.286 0.016 107.4);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.58 0.031 107.3);
  --chart-1: oklch(0.88 0.011 106.6);
  --chart-2: oklch(0.58 0.031 107.3);
  --chart-3: oklch(0.466 0.025 107.3);
  --chart-4: oklch(0.394 0.023 107.4);
  --chart-5: oklch(0.286 0.016 107.4);
  --sidebar: oklch(0.228 0.013 107.4);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.286 0.016 107.4);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.58 0.031 107.3);
}

:root,
.light,
.default,
[data-theme='light'],
[data-theme='default'] {
  /* Theme Colors (Light Mode) */
  --danger: oklch(65.32% 0.2335 8.16);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.0015 107.33);
  --default-foreground: oklch(21.03% 0.0059 107.33);
  --field-background: oklch(100% 0.0008 107.33);
  --field-foreground: oklch(21.03% 0.0015 107.33);
  --field-placeholder: oklch(55.17% 0.003 107.33);
  --focus: oklch(58.03% 0.031 107.33);
  --overlay: oklch(100% 0.0004 107.33);
  --overlay-foreground: oklch(21.03% 0.0015 107.33);
  --scrollbar: oklch(87.1% 0.0015 107.33);
  --segment: oklch(100% 0.0015 107.33);
  --segment-foreground: oklch(21.03% 0.0015 107.33);
  --separator: oklch(92% 0.0015 107.33);
  --success: oklch(73.29% 0.1941 133.23);
  --success-foreground: oklch(21.03% 0.0059 133.23);
  --surface: oklch(100% 0.0008 107.33);
  --surface-foreground: oklch(21.03% 0.0015 107.33);
  --surface-secondary: oklch(95.24% 0.0012 107.33);
  --surface-secondary-foreground: oklch(21.03% 0.0015 107.33);
  --surface-tertiary: oklch(93.73% 0.0012 107.33);
  --surface-tertiary-foreground: oklch(21.03% 0.0015 107.33);
  --warning: oklch(78.19% 0.159 54.75);
  --warning-foreground: oklch(21.03% 0.0059 54.75);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme='dark'] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --danger: oklch(59.4% 0.1973 7.05);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.0015 107.33);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.003 107.33);
  --field-foreground: oklch(99.11% 0.0015 107.33);
  --field-placeholder: oklch(70.5% 0.003 107.33);
  --focus: oklch(58.03% 0.031 107.33);
  --overlay: oklch(21.03% 0.003 107.33);
  --overlay-foreground: oklch(99.11% 0.0015 107.33);
  --scrollbar: oklch(70.5% 0.0015 107.33);
  --segment: oklch(39.64% 0.0015 107.33);
  --segment-foreground: oklch(99.11% 0.0015 107.33);
  --separator: oklch(25% 0.0015 107.33);
  --success: oklch(73.29% 0.1941 133.23);
  --success-foreground: oklch(21.03% 0.0059 133.23);
  --surface: oklch(21.03% 0.003 107.33);
  --surface-foreground: oklch(99.11% 0.0015 107.33);
  --surface-secondary: oklch(25.7% 0.0023 107.33);
  --surface-secondary-foreground: oklch(99.11% 0.0015 107.33);
  --surface-tertiary: oklch(27.21% 0.0023 107.33);
  --surface-tertiary-foreground: oklch(99.11% 0.0015 107.33);
  --warning: oklch(82.03% 0.1392 58.76);
  --warning-foreground: oklch(21.03% 0.0059 58.76);
}

@layer base {
  * {
    @apply border-border outline-ring/50 select-none;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Electron 窗口拖动工具类 */
@layer utilities {
  .drag-region {
    -webkit-app-region: drag;
    app-region: drag;
  }

  .no-drag-region {
    -webkit-app-region: no-drag;
    app-region: no-drag;
  }
}

@layer base {
  html,
  body {
    @apply bg-secondary/80;
  }
}
